@import 'config';
@import 'menunav';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;    
}

h1, h2, h3 {
    margin: 0;
    font-weight: 500;

    &.lg-heading {
        font-size: 3rem; //It means 6 times the default size(16px)
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 2px 10px;
        background: rgba($primary-color, 0.2); // rgba(lighten(#000, 2), 0.2);
        font-size: 1.2rem;
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
    
    .icons {
        margin-top: 1rem;
        font-size: 20px;    
        
        a {
            padding: 0.4rem;

            &:hover {    
                color: #eece1a;
                @include easeOut;
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-column-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'personal education education'
    'job1 job2 job3';
    grid-template-columns: 1fr 1fr 1fr;

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
        width: 200px;
        height: 200px;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .personal {
        grid-area: personal;    
        padding-bottom: 10px;    
    }
    
    .education {
        grid-area: education;        
    }
    
    .job1 {
        grid-area: job1;
    }
    
    .job2 {
        grid-area: job2;
    }
    
    .job3 {
        grid-area: job3;
    }
    
    .job {
        background: darken($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

#main-footer {
    text-align: left;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}


@import 'screens';
